#single-item-window {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
}

.single-item-header {
  color: white;
  background-color: #4682b4;
  padding: 10px;
}

td {
  width: 100px;
  padding: 5px;
}

.single-item-img img {
  max-width: 400px;
  padding: 5px;
}

.single-item-details {
  display: flex;
  justify-content: space-between;
}

.searchable {
  color: blue;
  text-decoration: underline;
}

.searchable:hover {
  cursor: pointer;
}
