* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  height: 100%;
  display: flex;
}

#search-results {
  height: 100%;
  width: 300px;
  border-right: 6px solid #444444;
}

#searchbar {
  border-top: 6px solid #444444;
  border-bottom: 6px solid #444444;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgba(13, 13, 13, 0.848);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading span {
  color: white;

  font-size: 50px;
  font-family: 'Times New Roman', Times, serifsh;
  background-color: #4682b4;
  padding: 100px;
  border: 3px solid black;
  border-radius: 20px;
}
